
<%- include("partials/header") -%> 
<h1>Home</h1>

<p> <%= StartContent %> </p>

<!-- for each loop -->
<% posting.forEach(function(post){ %>
    <h1><%= post.title %> </h1>
    <p><%= post.content.substring(0,100) + "  ..." %>
        <a href="/posts/<%= post.title %>">read more</a> 
    </p>
<% }) %>

<%- include('partials/footer') %> 



